@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222831;
    --foreground: #eeeeee;
  }
}

.introContainer {
  display: flex;
  justify-content: center;
}

.caption {
  @apply motion-preset-expand motion-delay-200;
}

.intro {
  @apply motion-preset-expand motion-delay-100;
}

.handEmoji {
  @apply motion-delay-300 motion-rotate-loop-45 motion-translate-y-loop-25;
}

.pfp {
  @apply motion-preset-expand motion-delay-500
    motion-blur-in-md;
}

.link {
  @apply m-8 text-xl underline decoration-solid;
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
}

main {
  flex: 1;
}

footer {
  min-height: 50px;
}
